body{
    background-color:rgb(229,209,184);
    text-align: center;
    font-family: cursive;
}
h1 {
    color:rgb(60,68,84);
    text-align: center;
    border-style:solid;
    border-radius: 5px;
    border-color:azure;
    background-color:rgb(194,149,110);
}

div {
    background-color:rgb(221,142,88);
    border-style:solid;
    border-color:azure;
    border-radius: 5px;
    accent-color:black;
    text-align: center;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}